.idea/
target
error-screenshots/

*.iml
.classpath
.project
.settings
tmp.*
vaadin-maven-plugin/src/main
vaadin-maven-plugin/bin
vaadin-maven-plugin/.factorypath
.DS_Store
.vscode

node_modules/
package-lock.json
scripts/generator/results
scripts/generator/yarn-error.log
vaadin-platform-test/package-lock.json
vaadin-platform-test/package.json
vaadin-platform-test/webpack.config.js
vaadin-platform-test/webpack.generated.js
vaadin-platform-fusion-test/package-lock.json
vaadin-platform-fusion-test/package.json
vaadin-platform-fusion-test/webpack.generated.js
vaadin-platform-fusion-test/frontend/generated/

vaadin-bom/pom.xml
vaadin-spring-bom/pom.xml
