.idea/
target

*.iml
.classpath
.project
.settings
tmp.*
vaadin-maven-plugin/src/main
vaadin-maven-plugin/.factorypath
.DS_Store

scripts/generator/results
scripts/generator/node_modules
scripts/generator/yarn-error.log

maven-bom/pom.xml