.idea/
target
error-screenshots/

*.iml
.classpath
.project
.settings
tmp.*
vaadin-maven-plugin/src/main
vaadin-maven-plugin/.factorypath
.DS_Store
.vscode

scripts/generator/results
scripts/generator/node_modules
scripts/generator/yarn-error.log
scripts/generator/package-lock.json

vaadin-bom/pom.xml
vaadin-spring-bom/pom.xml